.chickenpaint {
	position:relative;
}

.chickenpaint canvas {
	display:block;
}

.chickenpaint-canvas {
	background-image:url(checkerboard.png);
	background-repeat:repeat;
	background-position:top left;
	position:relative;
	margin-left:auto;
	margin-right:auto;
}

.chickenpaint-canvas-container {
	background-color: #606060;
}

.chickenpaint-palettes {
	position:absolute;
	top:0;
	left:0;
}
.chickenpaint-palette {
	background-color:#eee;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	display:inline-flex;
	flex-direction:column;
	position:absolute;
}
.chickenpaint-palette-head {
	padding:5px;
	font-size:90%;
}
.chickenpaint-palette-body {
	
}

.chickenpaint-tools {
	width:80px;
	text-align:center;
	line-height:0;
	padding:0;
	margin:0;
	list-style-type:none;
}
.chickenpaint-misc-tools,
.chickenpaint-stroke-tools {
	display:flex;
	line-height:0;
	padding:0;
	margin:0;
	list-style-type:none;
}

.chickenpaint-toolbar-button {
	display:inline-block;
	width:32px;
	height:32px;
	background-color:white;
	border:1px solid black;
	border-radius:3px;
	margin:2px;
	background-image:url(icons.png);
	background-repeat:no-repeat;
}
.chickenpaint-toolbar-button:hover {
	border:1px solid yellow;
}
.chickenpaint-toolbar-button.selected {
	border:1px solid red;
}

.chickenpaint-tool-move {
	background-position:0 -32px;
}
.chickenpaint-tool-flood-fill {
	background-position:0 -64px;
}
.chickenpaint-tool-rotate-canvas {
	background-position:0 -928px;
}
.chickenpaint-tool-pencil {
	background-position:0 -160px;
}
.chickenpaint-tool-pen {
	background-position:0 -192px;
}
.chickenpaint-tool-airbrush {
	background-position:0 -224px;
}
.chickenpaint-tool-water {
	background-position:0 -576px;
}
.chickenpaint-tool-eraser {
	background-position:0 -256px;
}
.chickenpaint-tool-soft-eraser {
	background-position:0 -288px;
}
.chickenpaint-tool-smudge {
	background-position:0 -768px;
}
.chickenpaint-tool-blender {
	background-position:0 -896px;
}
.chickenpaint-tool-dodge {
	background-position:0 -512px;
}
.chickenpaint-tool-burn {
	background-position:0 -544px;
}
.chickenpaint-tool-blur {
	background-position:0 -736px;
}
.chickenpaint-tool-color-picker {
	background-position:0 -960px;
}

.chickenpaint-tool-zoom-in {
	background-position:0 -416px;
}
.chickenpaint-tool-zoom-out {
	background-position:0 -448px;
}
.chickenpaint-tool-zoom-100 {
	background-position:0 -480px;
}
.chickenpaint-tool-undo {
	background-position:0 -320px;
	margin-left:8px;
}
.chickenpaint-tool-redo {
	background-position:0 -352px;
	margin-right:8px;
}
.chickenpaint-tool-send {
	background-position:0 -384px;
}

.chickenpaint-tool-freehand {
	background-position:0 -608px;
}
.chickenpaint-tool-line {
	background-position:0 -640px;
}
.chickenpaint-tool-bezier {
	background-position:0 -704px;
}